<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Liste des Employés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-employee']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let employee of employees">
      <ion-item class="no-padding">
        <ion-label>
          <h2>{{ employee.nameEmp }}</h2>
          <p>{{ employee.details }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option [routerLink]="['/edit-employee/' , employee.id]">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteEmployee(employee.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>